<div class="container">
  <div class="row py-5">

    <div class="col-12">
      <div class="d-flex justify-content-center center-container">
          <div class="form-group">
            <div class="card" style="max-width: 32rem;">
              <div class="card-header boost-card-header d-flex justify-content-between align-items-center">
                <div class="card-header-split">Boost Bounty: {{boostReward}} BSV </div>
                <div class="card-header-split">
                    <div class="features-icons-icon feature-bitcoin">
                      <a [href]="transactionUrl" target="_blank" class="feature-bitcoin-link"><i class="fab fa-bitcoin "></i></a>
                    </div>

                   </div>
              </div>
              <div class="card-body">
                <label class="boost-info-label">Content</label>
                <h5 class="card-title">{{boostJobContent}}</h5>
                <div>
                    {{boostJobContentHex}}
                </div>
              </div>
              <li class="list-group-item">
                <label class="boost-info-label">Difficulty: {{boostJobDiff}}</label>
                <div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" [style.width]="stylesLogScaleDiff" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </li>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <label class="boost-info-label">Metadata</label>
                  <div>
                    <div *ngIf="boostJobTag !== ''" class="boost-info-field">
                      {{boostJobMetadata}}
                    </div>
                    <div *ngIf="isFieldVisible('metadata')" class="boost-info-hidden-field">
                      {{boostJobMetadataHex}}
                    </div>
                    <a href="#" (click)="toggleField('metadata')"><i class="fas fa-info-circle"></i></a>
                  </div>
                </li>
                <li class="list-group-item">
                  <label class="boost-info-label">Tag</label>
                  <div>
                      <div *ngIf="boostJobTag !== ''" class="boost-info-field">
                        {{boostJobTag}}
                      </div>
                      <div *ngIf="isFieldVisible('tag')" class="boost-info-hidden-field">
                        {{boostJobTagHex}}
                      </div>
                      <a href="#" (click)="toggleField('tag')"><i class="fas fa-info-circle"></i></a>
                  </div>
                </li>
                <li class="list-group-item">
                  <label class="boost-info-label">Category</label>
                  <div>
                      <div *ngIf="boostJobCategory !== ''" class="boost-info-field">
                        {{boostJobCategory}}
                      </div>
                      <div *ngIf="isFieldVisible('category')" class="boost-info-hidden-field">
                        {{boostJobCategoryHex}}
                      </div>
                      <a href="#" (click)="toggleField('category')"><i class="fas fa-info-circle"></i></a>
                  </div>
                </li>
                <li class="list-group-item">
                  <label class="boost-info-label">Unique</label>
                  <div>
                      <div *ngIf="boostJobUnique" class="boost-info-field">
                        {{boostJobUnique}}
                      </div>
                      <div *ngIf="isFieldVisible('unique')" class="boost-info-hidden-field">
                        {{boostJobUniqueHex}}
                      </div>
                      <a href="#" (click)="toggleField('unique')"><i class="fas fa-info-circle"></i></a>
                  </div>
                </li>
              </ul>
              <div class="card-body">
                <a href="/create" (click)="gotoAddMoreBoost()" class="btn btn-success btn-job-action">
                  <i class="fas fa-bolt"></i>
                  Add More Boost</a>
                <a [href]="miningLink"  (click)="gotoMiningLink" class="btn btn-link btn-job-action">Mine this Boost</a>
              </div>
            </div>
      </div>
    </div>

  </div>
</div>
