<footer class="container-fluid pb-4 footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 pt-4 text-center text-lg-left">
        <a href="https://matterpool.io" target="_blank"><img src="../../../assets/matterpool.svg" alt="MatterPool" /></a>
        <span class="d-block">&copy; Copyright MatterPool Inc. {{d | date :'y'}}. All rights reserved.</span>
      </div>
      <div class="col-12 col-lg-6 pt-4 text-center text-lg-right">
        <a href="https://developers.matterpool.io" target="_blank">Developer Documentation</a>
        <span class="d-block">By using this service, you agree to the <a href="https://www.mattercloud.io/tos.html" _target="blank">Terms</a> and <a href="https://www.mattercloud.io/privacy-policy.html" _target="blank">Privacy Policy.</a></span>
      </div>
    </div>
  </div>
</footer>
