<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <div class="d-flex center-container">
        <div style="max-width: 800px">
          <h3 class="jumbo-title"><span class="logo-color">Boost</span> is a signaling method for content
          <br/> that associates it with spent energy.</h3>
          <p class="lead mt-3">
            What can I Boost for you today?
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 py-5">
      <!-- https://codepen.io/FlorinPop17/pen/drJJzK -->
      <a (click)="publishBoost()" class="btn btn-small btn-primary uppercase py-0 px-5 d-block mr-sm-4 d-sm-inline-block my-auto">
          <i class="fas fa-plus"></i> Boost Content
      </a>
      <a href="/search" class="btn btn-small mt-3 px-5 d-block d-sm-inline-block btn-secondary uppercase py-0 my-sm-auto">
        Explore Content
      </a>

      <p class="mt-4 text-muted">
        Boost is powered by <a href="https://matterpool.io">MatterPool</a>
      </p>
    </div>
  </div>
</div>
