<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <div class="d-flex center-container">
        <div style="max-width: 800px">
          <h3 class="jumbo-title"><span class="logo-color">Boost</span> is a signalling method for content.
          <br/> It allows you to add energy to information.</h3>
          <p class="lead">
            What can I Boost for you today?
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 texdt-center py-2">
      <a (click)="gotoCreate()" class="btn btn-small btn-primary uppercase py-0 px-5 d-block mr-sm-4 d-sm-inline-block my-auto">
        Boost Content
      </a>
      <a href="https://media.bitcoinfiles.org/52fb4bedc85854638af61a7f906bf8e93da847d2ddb522b1aec53cfc6a0b2023" class="btn btn-small mt-3 px-5 d-block d-sm-inline-block btn-secondary uppercase py-0 my-sm-auto">
        Whitepaper
      </a>
    </div>
  </div>
</div>
