<div [ngClass]="{'compact': compact}">
  <div class="viewer d-flex" [ngClass]="{ 'loading': !loaded }" (click)="openLink()">
    <fa-icon class="centered" *ngIf="!loaded" [icon]="faSpinner" [size]="4" [spin]="true"></fa-icon>
    <div class="image" *ngIf="type==='image'">
      <img [src]="'https://media.bitcoinfiles.org/'+content" [ngClass]="{ 'hide': !loaded, 'compact': compact }" (load)="loaded = true">
    </div>
    <div #md class="markdown px-3 pt-3" [ngClass]="{ 'hide': !loaded }" *ngIf="type==='markdown' || type==='text' || type==='unknown'">
      <markdown (load)="fixB()" [src]="'https://media.bitcoinfiles.org/'+content+'.md'"></markdown>
    </div>
    <div class="pdf" *ngIf="type==='pdf'">
      <ngx-extended-pdf-viewer [src]="'https://media.bitcoinfiles.org/'+content+'.pdf'" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>
    </div>
    <div class="video" *ngIf="type==='video'" [ngClass]="{ 'hide': !loaded }">
      <video #video controls (canplay)="loaded = true">
        <source src="https://media.bitcoinfiles.org/{{content}}"
                type="{{fileType}}">
        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
    <div class="video" *ngIf="type==='audio'" [ngClass]="{ 'hide': !loaded }" (loadeddata)="loaded = true">
      <audio controls (canplay)="loaded = true">
        <source src="https://media.bitcoinfiles.org/{{content}}"
                type="{{fileType}}">
        Sorry, your browser doesn't support embedded audio.
      </audio>
    </div>
    <div class="none" [ngClass]="{ 'hide': !loaded }" *ngIf="type==='' && loaded">
      <div class="text px-3 py-3">{{ plainText }} {{ content }}</div>
    </div>
  </div>
</div>
