.card {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
.image {
  transition: 0.25s all;
  width: 100%;
  img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.25s all;
    opacity: 1;
    &.hide {
      opacity: 0;
    }
  }
}
.text {
}
.viewer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px rgba(0,0,0,0.1) solid;
  transition: 0.25s all;
  position: relative;
  &.loading {
    background: #eee;
    min-height: 200px;
    width: 100%;
  }
  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    transform: translate(-50%, -50%);
  }
}

.pdf {
  display: block;
  width:100%;
  // height:80vh;
}

.compact {
  width:100% !important;
  .viewer {
    max-height:300px;
    z-index: 1;
    overflow-y: hidden;
    position: relative;
    &:after {
      content: "";
      width:100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      right:0px;
      bottom: 0px;
      z-index:10;
      cursor: pointer;
      // background: rgb(255,255,255);
      background: linear-gradient(0deg, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0) 40%);
      // background: #f00;
    }
  }
}

video, audio {
  width: 100%;
  height: auto;
}

.logo-mini {
  height: 40px;
  width: 40px;
}

.boost-btn {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
  padding:10px;
  width:auto;
  height:60px;
  line-height: 40px;
  display: inline-flex;
  transition: 0.25s all;
  &:hover {
    text-decoration: none;
    background: #007bff;
    color:#fff;
    cursor: pointer;
  }
}

.mimetype {
  color:#ccc;
  font-style: italic;
}

.metadata {
  box-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}
