<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <div class="center-container">
          <div class="form-group">
              <h2>Add Boost Proof of Work</h2>

              <label for="exampleInputEmail1">Content</label>
              <!-- <input name="inputContent" ngModel required #first="ngModel" required class="form-control" id="inputContent" aria-describedby="inputContentHelp">-->
              <input [(ngModel)]="inputContent" #ctrl="ngModel" required class="form-control" id="inputContent" aria-describedby="inputContentHelp">
              <small id="inputContentHelp" class="form-text text-muted">Message or hash to Boost. Required 32 bytes</small>
            </div>
            <div class="form-group">
              <label for="inputDiff">Difficulty</label>
              <input [(ngModel)]="inputDiff" #ctrl="ngModel" required class="form-control" id="inputDiff" aria-describedby="inputDiffHelp" minimum="1">
              <small id="inputDiffHelp" class="form-text text-muted">Choose how much energy to attach. Minimum difficulty 1.</small>
            </div>
            <div class="form-group">
              <label for="inputBoostReward">Boost Reward</label>
              <input [(ngModel)]="inputReward" #ctrl="ngModel" required class="form-control" id="inputBoostReward" aria-describedby="inputBoostReward" minimum="0.01">
              <small id="inputBoostRewardHelp" class="form-text text-muted">Choose the value of the Boost Reward for miners.</small>
            </div>

            <hr/>

            <a (click)="showExtraOptions = !showExtraOptions" class="mt-3 px-5 d-block d-sm-inline-block btn-primary py-0 my-sm-auto">
              More options
            </a>
            <div *ngIf="showExtraOptions">
              <div class="form-group">
                <label for="inputTag">Tag</label>
                <input [(ngModel)]="inputTag" #ctrl="ngModel" required class="form-control" id="inputTag" aria-describedby="inputTagHelp">
                <small id="inputTagHelp" class="form-text text-muted">Add a tag (Optional 20 bytes)</small>
              </div>

              <div class="form-group">
                <label for="inputCategory">Type</label>
                <input [(ngModel)]="inputCategory" #ctrl="ngModel" required class="form-control" id="inputCategory" aria-describedby="inputCategoryHelp">
                <small id="inputCategoryHelp" class="form-text text-muted">Content type (4 bytes)</small>
              </div>
               <div class="form-group">
                <label for="inputMetadata">Metadata</label>
                <input [(ngModel)]="inputMetadata" #ctrl="ngModel" required class="form-control" id="inputMetadata" aria-describedby="inputMetadataHelp">
                <small id="inputMetadataHelp" class="form-text text-muted">Add arbitrary metadata (Optional 32 bytes)</small>
              </div>
              <div class="form-group">
                <label for="inputUnique">Unique?</label>
                <input [(ngModel)]="inputUnique" #ctrl="ngModel" required class="form-control" id="inputUnique" aria-describedby="inputUniqueHelp">
                <small id="inputUniqueHelp" class="form-text text-muted">Add random uniqueness (Optional 4 bytes)</small>
              </div>

              <div class="form-group form-check">
                <input type="checkbox"  class="form-check-input" [(ngModel)]="useHex" #ctrl="ngModel" aria-describedby="useHexHelp">
                <label class="form-check-label" for="inputUseHex">Use hex strings for input fields.</label>
              </div>
            </div>
            <hr/>

            <a (click)="validForm ? payForBoost() : null" [attr.disabled]="(!validForm) ? 'disabled' : null" [ngClass]="{'disabled': !validForm}" class="btn btn-small mt-3 px-5 d-block d-sm-inline-block btn-primary uppercase py-0 my-sm-auto">
                Boost
              </a>
            <div class="mb-wrapper">
              <span #mb> </span>
              <span #ro> </span>
            </div>
            <div class="ro-wrapper"></div>

      </div>
    </div>
  </div>
</div>
