.search {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  // border-radius: ;
  // padding:30px 10px;
  font-size:18px;
  .form-control {
    background: #fcfcfc;
  }
}

.ease {
  transition: height 0.66s ease-out;
}

.searching {
  color:#ccc;
}

.card {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
