<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 text-center mb-3">
      <h4 class="pb-4">In-progress jobs</h4>
      <div class="card ease">
        <form [formGroup]="searchForm" (ngSubmit)="search()">
          <div class="col-12 search p-3">
            <div class="row px-3 pb-3">
              <div class="col-8 col-xl-4 mt-3">
                <select id="inputState" formControlName="timeframe" class="form-control d-block">
                  <option *ngFor="let opt of timeSelectOptions" value="{{opt.value}}">{{opt.title}}</option>
                </select>
              </div>
              <div class="col-4 col-xl-2 mt-3">
                <button type="submit" class="btn btn-primary btn-block"><fa-icon [icon]="faSearch"></fa-icon></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <ng-container *ngIf="incompleteBoosts.length > 0">
      <div class="col-md-8 offset-md-2 ease" *ngFor="let boost of incompleteBoosts">
        <div class="card my-3">
          <div class="unmined">
            <h4>Profitabiltiy: {{boost.profitability}}</h4>
            Script hash: {{boost.scriptHash}}<br>
            <ul>
              <li *ngFor="let outpoint of boost.outpoints">
                <a href="https://bitcoinfiles.org/tx/{{outpoint.txid}}">{{outpoint.txid}}.{{outpoint.index}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="col-md-8 offset-md-2 ease" *ngIf="!incompleteBoosts.length || incompleteBoosts.length == 0">
      <p class="text-center searching my-5" >No boosts found. Why not <a (click)="addBoost()">create one</a>?</p>
    </div>
  </div>
</div>