<div class="component-container">
  <a *ngIf="isImage && !useInternalLink" [href]="fileUrl" target="_blank" class="content-preview-image"><img [src]="fileUrl" class="img-responsive"/></a>
  <a *ngIf="isImage && useInternalLink" [href]="openLinkUrl" class="content-preview-image"><img [src]="fileUrl" class="img-responsive" /></a>
  <div *ngIf="isNonImageFileDocument()" class="paragraph-break content-preview-text" [innerHTML]="contentSummary"></div>
  <div *ngIf="isMiscFile" class="card-body">

    <div *ngIf="!useInternalLink && contentType" class="card-text">
        <a [href]="fileUrl" target="_blank">Open File <i class="fas fa-download"></i> </a>
    </div>
    <div *ngIf="useInternalLink && contentType" class="card-text">
      <a [href]="openLinkUrl">Open File <i class="fas fa-download"></i> </a>
    </div>

    <p *ngIf="!contentType" class="card-text">
      <!-- {{contentSnippet}} -->
      {{ boostSignalSummary.entity.content }}
    </p>
   <!-- bbba7 68121f65fa97f758f2bfbcc77ddd964807cfa61ff799cdc1e0937301ab0 -->

  </div>
  <div class="info-section">
    <a class="text-muted" [href]="fileUrl" target="_blank">
      <span class="badge badge-light">{{contentType}}</span>
    </a>
    <span class="badge badge-light">{{tag}}</span>
  </div>
  <div class="action-section">
      <div>
        <strong class="boost-counter" *ngIf="overallRank">Rank {{overallRank}} -&nbsp;</strong>
        <strong class="boost-counter">{{energy | boostNumberFormat}}</strong>
        <span class="text-muted boost-label"> Boosts</span>
        <div class="form-inline" *ngIf="showTimeframeSelect">
          <label for="input-timeframe" class="text-muted boost-label">Within the last</label> &nbsp;
          <select class="form-control" name="timeframe" [value]="timeframe" (change)="updateTimeframe($event)">
            <option>hour</option>
            <option>day</option>
            <option>fortnight</option>
            <option>year</option>
            <option>decade</option>
          </select>&nbsp;
        </div>
      </div>
      <div>
        <button class="btn btn-outline-success" (click)="addBoost()">Add Boost</button>
      </div>
  </div>
    <!--<p *ngIf="boostResult.entity.additionalData" class="card-text">
      {{boostResult.entity.additionalData}}
    </p>

    <small class="text-muted">
      <a [href]="explorerLink(boostResult)" (click)="gotoBoostExplorer(boostResult)" target="_blank">{{formatAgo(boostResult.entity.time)}}</a>
    </small>

    <a *ngIf="boostResult.entity.category" [href]="categoryLink(boostResult.entity.category)">
        <span class="badge badge-light">{{boostResult.entity.category}}</span>
    </a>

    <a *ngIf="boostResult.entity.tag" [href]="tagLink(boostResult.entity.tag)">
        <span class="badge badge-light">{{boostResult.entity.tag}}</span>
     </a>
    <br/>
    <small class="badge badge-success badge-lg">Energy: {{boostResult.totalDifficulty}}</small>

  <button class="btn btn-success" (click)="openBoost(boostResult.txid)">Add Boost</button>-->

</div>

