<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a routerLink="/search"><fa-icon [icon]="faArrowLeft"></fa-icon> Back to search</a>
    </div>
    <div class="col-md-12">
      <app-display [compact]="false" [content]=id></app-display>
    </div>
    <div class="col-md-12" *ngIf="ranks?.length">
      <div *ngFor="let topic of ranks">
        <app-boost [content]="id" [topic]="topic.topic" [difficulty]="topic.difficulty" [rank]="topic.rank"></app-boost>
      </div>
    </div>
  </div>
</div>
