<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a routerLink="/search"><fa-icon [icon]="faArrowLeft"></fa-icon> Back to search</a>
    </div>
    <div class="card my-3">
      <div class="col-md-12">
        <app-display [compact]="false" [content]=id></app-display>
      </div>
      <div class="col-md-12" *ngIf="ranks?.length">
        <div> 
          <form [formGroup]="searchForm" (change)="getRanks()" class="form-inline">
            <span class="d-inline-flex">In the last &nbsp;</span>
            <select id="inputState" formControlName="timeframe" class="custom-select form-control-sm">
              <option *ngFor="let opt of timeSelectOptions" value="{{opt.value}}">{{opt.title}}</option>
            </select>
            <span class="d-inline-flex">, this content has achieved</span>
          </form>
        </div>
        <div *ngFor="let topic of ranks">
          <app-boost [content]="id" [topic]="topic.topic" [difficulty]="topic.difficulty" [rank]="topic.rank"></app-boost>
        </div>
      </div>
    </div>
  </div>
</div>
