<div class="container d-flex mt-md-5 mb-3">
  <div class="row">
    <div class="col-lg-8 my-auto">
      <h2 class="mb-md-5"><a class="brand-link" routerLink="c/dbe0f0cdeb0e399dde37764cdc84415d51c95a01c42a0037a3c639c7ae4fe0b3">Boost</a> is a signaling method that associates content with spent energy.</h2>
      <p class="subheading mt-4 mt-md-5">Are you overwhelmed with misinformation and manipulation? <a routerLink="c/0c9544cf8650794d0221a0b11fec45ed19409e6deef9b3eeeea7ee956cdde7af">Handicap</a> your ideas to join a kindness contest where honesty is optimal.</p>
      <p class="subheading mt-4">What can I Boost for you today?</p>
      <div class="row mt-md-5">
        <div class="col-md-4">
          <a class="btn-md text-uppercase btn btn-primary mt-4 d-block" (click)="createBoost()"><fa-icon class="mr-1" [icon]="faPlus"></fa-icon> Boost Content</a>
        </div>
        <div class="col-md-4">
          <a class="btn-md text-uppercase btn btn-secondary mt-4 d-block" routerLink="search">Explore Content</a>
        </div>
      </div>
      <p class="mt-5">Boost is powered by <a href="https://matterpool.io">MatterPool</a></p>
    </div>
  </div>
</div>
