<div class="container-fluid footer pt-3 pb-1 mt-4">
  <div class="container">
    <div class="row py-3">
      <div class="col-md-6">
        <p class="h30">
          <a href="https://matterpool.org">
            <img class="logo" src="../../../assets/matterpool.svg">
          </a>
        </p>
        <p>&copy; Copyright MatterPool Inc. {{date | date:'yyyy'}}. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-md-right">
        <p class="h30">
          <a href="https://developers.matterpool.io/">
            Developer Documentation
          </a>
        </p>
        <p>By using this service, you agree to the <a href="https://www.mattercloud.io/tos.html">Terms</a> and <a href="https://www.mattercloud.io/privacy-policy.html">Privacy Policy.</a></p>
      </div>
    </div>
  </div>
</div>
