<div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 text-center mb-3">
        <h4 class="pb-4">Popular Topics</h4>
        <div class="card ease">
          <form [formGroup]="searchForm" (ngSubmit)="search()">
            <div class="col-12 search p-3">
              <div class="row px-3 pb-3">
                <div class="col-8 col-xl-4 mt-3">
                  <select id="inputState" formControlName="timeframe" class="form-control d-block">
                    <option *ngFor="let opt of timeSelectOptions" value="{{opt.value}}">{{opt.title}}</option>
                  </select>
                </div>
                <div class="col-4 col-xl-2 mt-3">
                  <button type="submit" class="btn btn-primary btn-block"><fa-icon [icon]="faSearch"></fa-icon></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <ng-container *ngIf="topics.length > 0">
        <div class="col-md-8 offset-md-2 ease" *ngFor="let topic of topics">
          <div class="card my-3" *ngIf="topic.topic==''">
            <div style="display:block">{{topic.difficulty}} difficulty in <a [routerLink]="['/search']" [queryParams]="{timeframe:timeframe}" >all topics</a>.</div> 
          </div>
          <div class="card my-3" *ngIf="topic.topic!=''">
            <div style="display:block">{{topic.difficulty}} difficulty in <a [routerLink]="['/search']" [queryParams]="{timeframe:timeframe, topic:topic.topic}" >{{topic.topic}}</a>.</div>
          </div>
        </div>
      </ng-container>
      <div class="col-md-8 offset-md-2 ease" *ngIf="!topics.length || topics.length == 0">
        <p class="text-center searching my-5" >No boosts found. Why not <a (click)="addBoost()">create one</a>?</p>
      </div>
    </div>
  </div>