<div class="container">
  <div class="row py-5 justify-content-md-center">
    <div class="col-xs-12 col-md-8 center mx-auto">
        <div class="col col-lg-2">

        </div>
        <div class="col-md-auto">
          <div class="d-flex justify-content-center center-container">
            <div>
              <h3>
                Explore Boosted Content
              </h3>
              <div class="form-group form-inline">
                <label for="input-topic">in Topic</label>&nbsp;
                <input type="text" class="form-control input-topic" [value]="topic" (focusout)="updateProperty('topic', $event)"  placeholder="Topic">&nbsp;
                <label for="input-timeframe">within the last</label>&nbsp;
                <select class="form-control" name="timeframe" [value]="timeframe" (focusout)="updateProperty('timeframe', $event)"> 
                  <option>hour</option>
                  <option>day</option>
                  <option>fortnight</option>
                  <option>year</option>
                  <option>decade</option>
                </select>&nbsp;
                <button class="btn btn-outline-success" (click)="clickSearch()">Search</button>
              </div>

              <br/>
              <div *ngFor="let boostResult of boostSearchResults; let i = index;" class="card mb-3">
                <app-content-preview
                  [boostSignalSummary]="boostResult"
                  [overallRank]="i+1"
                  [contentPage]="false"
                  [useInternalLink]="true"
                ></app-content-preview>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-2">

        </div>

    </div>
  </div>
</div>
