<div class="container">
  <div class="row py-5 justify-content-md-center">
    <div class="col-xs-12 col-md-8 center mx-auto">
        <div class="col col-lg-2">

        </div>
        <div class="col-md-auto">
          <div class="d-flex justify-content-center center-container">
            <div>
              <h4 class="lead">
                Boosted Bitcoin Files
              </h4>
              <br/>
              <div *ngFor="let boostResult of boostSearchResults" class="card mb-3">
                <app-content-preview
                  [boostSignalSummary]="boostResult"
                ></app-content-preview>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-2">

        </div>

    </div>
  </div>
</div>
